.m-signature-pad--body canvas {
    background-color: #fff;
}
#contentBox form .checkbox{
    max-width: 300px;
    margin: auto;
    text-align: left;
}
#signature-pad label {
    max-width: 300px;
    margin: auto;
    text-align: left;
    display: block;
}
.checkbox {
    color:#fff;
}
.checkbox input {
    margin-left: 0 !important;
}
.pdfsubmit input{
   background-color: #555656 !important;
    color: #f2f2f2 !important;
    border: 0 !important;
    padding: 8px 18px !important;
    border-radius: 3px !important;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2) !important;
    cursor: pointer !important;
    
}    
.pdfview {
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translatex(-50%)!important;
}
